page-meal {
ion-header{height:300px;}
ion-slides {
     height:200px;
      background-image: url('https://images.agoramedia.com/everydayhealth/gcms/Ketogenic-Diet-for-Diabetes-What-to-Know-Before-Trying-1440x810.jpg?width=722');
    }
 
    ion-slide img {
      height: 0px !important;
      width: 500px   !important         ;
    }
}
